<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript">
  function showgongshi(){
      d = {}
      d['userid'] = getCookie('useridthu')
      d['username'] = getCookie('usernamethu')
      d['token'] = getCookie('tokenthu')

      $.ajax({
      type:"POST",
      url:"/getgongshi",
      data: d,
      success:function userinfo_return(data){
        result = JSON.parse(data)

      document.getElementById('listing').innerHTML = "<tr id='notifylist_addr0'></tr>"
      for (j in result){
        notifyinfo = result[j]
        content = '<td>'+notifyinfo['description']+'</td>'
        content += '<td>'+notifyinfo['time']+'</td>'
        content += '<td><a href="downloadgongshi/'+notifyinfo['filename']+'">'+notifyinfo['filename']+'</a></td>'
        //content = "<td>"+(parseInt(j)+1)+"</td>"
            $("#notifylist_addr"+j).html(content)
            $("#notifylist").append('<tr id="notifylist_addr'+(parseInt(j)+1)+'"></tr>')
      }
      }
    })
  }

  function init(){
    showname()
    showgongshi()
    document.getElementById("viewapply").href="/scholarshipview/"+getCookie('usernamethu')
    document.getElementById("apply").href="/scholarshipapply/"+getCookie('usernamethu')
  }
  </script>
  <body onload="checklogin();init();" style="padding-top: 40px">

{% include 'module_scholarshipnav.html' %}
  

 <div id="wrapper">

  
      {% include 'module_scholarshipsidenav.html' %}
        
      <div id="page-content-wrapper" class="container-fluid">
        
        <div class="span6" style="margin-left:10px;margin-top:10px">
          公示列表
          <table class="table table-bordered table-hover" id="notifylist">
        <thead>
          <tr >
            <th class="text-center">
              公示
            </th>
            <th class="text-center">
              时间
            </th>
            <th class="text-center">
              下载
            </th>
            <th class="text-center">
            
            </th>
          </tr>
        </thead>
        <tbody id="listing">
                    <tr id='notifylist_addr0'></tr>
        </tbody>
      </table>
        </div>
        <div class="span3" style="margin-left:10px;margin-top:10px">
          {% include 'module_user.html' %}
        </div>
      </div>
  </div>


 	</body>
  
</html>