<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
        <link href="favicon.png" rel="shortcut icon"/>
        <title>计算机系夏令营</title>
        
        <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/static/bootstrap-theme.css" type="text/css">
        <link rel="stylesheet" href="/static/thusummercamp.css" type="text/css">
        <script type="text/javascript" src="/static/user.js"></script>
        <script type="text/javascript" src="/static/cookie.js"></script>
        
        <script type="text/javascript" src="/static/jquery-1.12.3.min.js"></script>
        <script type="text/javascript" src="/static/jquery.md5.js"></script>
        
        <script type="text/javascript" src="/static/bootstrap.js"></script>
        <script>
        </script>
   </head>