<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript">
  function init(){
    showname()
  }
  </script>
  <body onload="checklogin();init();"  style="padding-top: 40px">
  	
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="#">清华大学计算机系学生信息系统</a></li>
         <li class="active"><a href="#">首页</a></li>
         <li><a href="#">新闻</a></li>
         <li><a href="/scholarship">奖学金</a></li>
          </ul>
      </div>
    </nav>

 <div class="container-fluid">
    <div class="row content">
      <div class="span4" style="margin-left:10px;margin-top:10px">
        消息
        消息
      </div>
      <div class="span6" style="margin-left:10px;margin-top:10px">
        消息 消息 消息
      </div>
      <div class="span3" style="margin-left:10px;margin-top:10px">
        {% include 'module_user.html' %}
      </div>
    </div>
  </div>

  	
  </body>
  
</html>