<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript">
  function init(){
    return
  }
  </script>
  <body onload="checklogin();init();">
  	
  <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">清华大学计算机系学生信息系统</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="#">首页</a></li>
         <li><a href="/news">新闻</a></li>
         <li><a href="/scholarship">奖学金</a></li>
      </ul>
   </div>
  </nav>

  	
  </body>
  
</html>