<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <body class="loginregbody">
    <div class="container">

  <form class="form-horizontal form-info" style="max-width: 400px">
    <fieldset>
      <div id="legend" class="">
        <legend class="">修改密码</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">原密码</label>
          <div class="controls">
            <input type="password" id="oldpasswd" placeholder="" class="input-xlarge">
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">新密码</label>
          <div class="controls">
            <input type="password" id="newpasswd" placeholder="" class="input-xlarge">
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">确认密码</label>
          <div class="controls">
            <input id="repasswd" type="password" placeholder="" class="input-xlarge">
          </div>
        </div>

      <div class="controls">
            <button class="btn btn-primary btn-block" onclick="modifypassword()">修改密码</button>
            <a href="/mainpage">返回</a>
          </div>
      

    </fieldset>
  </form>


    </div>
  </body>
  
</html>