<form class="form-horizontal" method='POST' action=''>
    <fieldset>
<div id="legend" class="">
        <legend class="">申请排行</legend>
      </div>

     <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      
      <table class="table table-bordered table-hover" id="applylist">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              学号
            </th>
            <th class="text-center">
              姓名
            </th>
            <th class="text-center">
              A类论文
            </th>
            <th class="text-center">
              B类论文
            </th>
            <th class="text-center">
              C类论文
            </th>
            <th class="text-center">
              O类论文
            </th>
            <th class="text-center">
              专利
            </th>
            <th class="text-center">
              学术得分
            </th>
            <th class="text-center">
              社工得分
            </th>
            <th class="text-center">
              总分
            </th>
            <th class="text-center">
              被举报数
            </th>
            <th class="text-center">
            
            </th>
          </tr>
        </thead>
        <tbody>
                    <tr id='applylist_addr0'></tr>
        </tbody>
      </table>
    </div>
  </div>

  </div>
      </fieldset>
  </form>