
  <form class="form-horizontal" method='POST' action=''>
    <fieldset>
      <div id="legend" class="">
        <legend class="">基本信息</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">姓名</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="name" name="name" >
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">学号</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="username" name="username">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">班级</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="class" name="class">
            <p class="help-block"></p>
          </div>
        </div>

    

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">性别</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="sex" name="sex">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">年级</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="grade" name="grade">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">所</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="suo" name="suo">
            <p class="help-block"></p>
          </div>
        </div>


    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">学籍状态</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="school_roll" name="school_roll">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">政治面貌</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="political" name="political">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">民族</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="ethnic" name="ethnic">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">硕博</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="mas_doc" name="mas_doc">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">邮箱</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="email" name="email">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">手机</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="mobile" name="mobile">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">导师</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" id="mentor" name="mentor">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">是否体测</label>
          <div class="controls">
            <select class="input-xlarge" id="tice" name="tice">
      <option value="通过">通过</option>
      <option value="未通过">未通过</option>
      <option value="免测">免测</option>
      </select>
          </div>

        </div>

        <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">是否已开题</label>
          <div class="controls">
            <select class="input-xlarge" id="kaiti" name="kaiti">
      <option value="是">是</option>
      <option value="否">否</option>
      </select>
          </div>

        </div>

      <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">是否最后一年毕业</label>
          <div class="controls">
            <select class="input-xlarge" id="lastyear" name="lastyear">
      <option value="是">是</option>
      <option value="否">否</option>
      </select>
          </div>

        </div>

      <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">是否申请“清峰日新”奖学金</label>
          <div class="controls">
            <select class="input-xlarge" id="rixin" name="rixin">
      <option value="是">是</option>
      <option value="否">否</option>
      </select>
          </div>

        </div>

    <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">是否申请“清峰励英”奖学金</label>
          <div class="controls">
            <select class="input-xlarge" id="liying" name="liying">
      <option value="是">是</option>
      <option value="否">否</option>
      </select>
          </div>

        </div>

    <div id="legend" class="">
        <legend class="">会议论文</legend>
    </div>

    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="conf">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              作者
            </th>
            <th class="text-center">
              是否一作或学生一作
            </th>
            <th class="text-center">
              CCF排名
            </th>
            <th class="text-center">
              会议全称
            </th>
            <th class="text-center">
              论文全称
            </th>
            <th class="text-center">
              开会时间
            </th>
            <th class="text-center">
              页数
            </th>
            <th class="text-center">
              论文类型
            </th>
          </tr>
        </thead>
        <tbody>
                    <tr id='conf_addr0'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="conf_add_row" class="btn btn-default pull-left">添加</a><a id='conf_delete_row' class="pull-right btn btn-default">删除</a>
  </div>

  <div id="legend" class="">
        <legend class="">期刊论文</legend>
    </div>

    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="qikan">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              作者
            </th>
            <th class="text-center">
              CCF排名
            </th>
            <th class="text-center">
              期刊全称
            </th>
            <th class="text-center">
              论文全称
            </th>
            <th class="text-center">
              出版日期
            </th>
            <th class="text-center">
              页码
            </th>
            <th class="text-center">
              页数
            </th>
            <th class="text-center">
              论文类型
            </th>
          </tr>
        </thead>
        <tbody>
                    <tr id='qikan_addr0'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="qikan_add_row" class="btn btn-default pull-left">添加</a><a id='qikan_delete_row' class="pull-right btn btn-default">删除</a>
  </div>

  <div id="legend" class="">
        <legend class="">专利</legend>
    </div>

    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="patent">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              作者
            </th>
            <th class="text-center">
              专利名称
            </th>
            <th class="text-center">
              公开（公告）号
            </th>
            <th class="text-center">
              公开（公告）日期
            </th>
          </tr>
        </thead>
        <tbody>
                    <tr id='patent_addr0'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="patent_add_row" class="btn btn-default pull-left">添加</a><a id='patent_delete_row' class="pull-right btn btn-default">删除</a>
  </div>

  <div id="legend" class="">
        <legend class="">项目</legend>
    </div>

    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="project">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              作者
            </th>
            <th class="text-center">
              项目名称
            </th>
            <th class="text-center">
              获奖时间
            </th>
            <th class="text-center">
              获奖类型
            </th>
          </tr>
        </thead>
        <tbody>
                    <tr id='project_addr0'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="project_add_row" class="btn btn-default pull-left">添加</a><a id='project_delete_row' class="pull-right btn btn-default">删除</a>
  </div>

  <div id="legend" class="">
        <legend class="">国际标准</legend>
    </div>

    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="standard">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              作者
            </th>
            <th class="text-center">
              标准名称
            </th>
            <th class="text-center">
              标准发布时间
            </th>
          </tr>
        </thead>
        <tbody>
                    <tr id='standard_addr0'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="standard_add_row" class="btn btn-default pull-left">添加</a><a id='standard_delete_row' class="pull-right btn btn-default">删除</a>
  </div>

  <div id="legend" class="">
        <legend class="">会议奖励</legend>
    </div>

    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="confaward">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              作者
            </th>
            <th class="text-center">
              会议名称
            </th>
            <th class="text-center">
              CCF分类
            </th>
            <th class="text-center">
              获取日期
            </th>
          </tr>
        </thead>
        <tbody>
                    <tr id='confaward_addr0'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="confaward_add_row" class="btn btn-default pull-left">添加</a><a id='confaward_delete_row' class="pull-right btn btn-default">删除</a>
  </div>

  <div id="legend" class="">
        <legend class="">担任岗位</legend>
    </div>

    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="job">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              岗位名称
            </th>
            <th class="text-center">
              岗位等级
            </th>
            <th class="text-center">
              担任时间
            </th>
          </tr>
        </thead>
        <tbody>
                    <tr id='job_addr0'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="job_add_row" class="btn btn-default pull-left">添加</a><a id='job_delete_row' class="pull-right btn btn-default">删除</a>
  </div>

<div id="legend" class="">
        <legend class="">累积项目</legend>
    </div>

    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="accupro">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              加分项
            </th>
            <th class="text-center">
              加分内容
            </th>
            <th class="text-center">
              时间
            </th>
          </tr>
        </thead>
        <tbody>
                    <tr id='accupro_addr0'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="accupro_add_row" class="btn btn-default pull-left">添加</a><a id='accupro_delete_row' class="pull-right btn btn-default">删除</a>
  </div>

  <div id="legend" class="">
        <legend class="">其他学术奖项</legend>
    </div>
    <textarea placeholder="" class="input-xlarge" id="otheraward" name="otheraward"></textarea>

    <br>
  <input type='submit' name='提交'>

    </fieldset>
  </form>
