<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript" src="/static/scholarshipview.js"></script>
  <link rel="stylesheet" href="/static/scholarship.css" type="text/css">
  <script type="text/javascript">
  function init(){
    getotherscholarshipinfo({{username}})
    document.getElementById("viewapply").href="/scholarshipview/"+getCookie('usernamethu')
    getscores({{username}})
  }

   
  </script>

  <body onload="checklogin();init();" style="padding-top: 40px">

{% include 'module_scholarshipnav.html' %}
  

 <div id="wrapper">

  
      {% include 'module_scholarshipsidenav.html' %}
        
      <div id="page-content-wrapper">
        
        <div >
          {% include 'module_scholarshipview.html' %}
          
        </div>

      </div>
  </div>


 	</body>
  
</html>