<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript">
  function init(){
    showname()
    document.getElementById("viewapply").href="/scholarshipview/"+getCookie('usernamethu')
  }
  </script>
  <body onload="checklogin();init();" style="padding-top: 40px">

{% include 'module_scholarshipnav.html' %}
  

 <div id="wrapper">

  
      {% include 'module_scholarshipsidenav.html' %}
        
      <div id="page-content-wrapper" class="container-fluid">
        
        <div class="span6" style="margin-left:10px;margin-top:10px">
          <p style="font-size:15px">欢迎登录奖学金申请平台<br><br>
          计算机系2016年秋季奖学金申请的截止时间为<b style="color:red">9月30日24：00</b><br><br>
          奖学金申请中的时间填写须至少<b style="color:red">精确到月、按格式填写并且在2015年9月至2016年8月范围之内。最后一年申请的可以在2015年9月至2017年8月范围之内</b>，否则不予参评。填写的时间项中有不符合要求的在申请列表里会被标红。<br><br>
          “会议奖励”项目新增项“奖励名称”，请填过“会议奖励”的同学重新进行填写</p>
        </div>
        <div class="span3" style="margin-left:10px;margin-top:10px">
          {% include 'module_user.html' %}
        </div>
      </div>
  </div>


 	</body>
  
</html>