<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript">
  function init(){
    showname()
    document.getElementById("viewapply").href="/scholarshipview/"+getCookie('usernamethu')
  }
  </script>
  <body onload="checklogin();init();" style="padding-top: 40px">

{% include 'module_scholarshipnav.html' %}
  

 <div id="wrapper">

  
      {% include 'module_scholarshipsidenav.html' %}
        
      <div id="page-content-wrapper" class="container-fluid">
        
        <div class="span6" style="margin-left:10px;margin-top:10px">
          <p style="font-size:15px">欢迎登录奖学金申请平台<br><br>
            2016年计算机系秋季学期大额奖学金获奖名单公示时间为<b style="color:red">10月10日至10月14日</b>，请点击下方的链接查看名单<br>
            <img src='/static/pdf.png' style="height:20px"><a href='/static/2016年计算机系秋季学期大额奖学金获奖名单公示最终版.pdf'>公示名单</a>
            <!--
            秋季奖学金的申请信息<b style="color:red">公示阶段 </b>（<b style="color:red">10月1日至10月7日</b>）已经开始：奖学金评定小组将对申请人的申请信息进行<b style="color:red">人工核查</b>，同时，计算机系奖学金申请平台”会对所有奖学金申请者的申请信息进行公示，接受全系同学的监督，有发现不实信息请向thucs_scholarship@163.com发送邮件进行<b style="color:red">匿名举报</b>，我们将严格保密举报者的信息，并认真核实举报情况，对确实提供不实信息的被举报者视情节严重予以相应的处罚。<br><br>
            【提示】大部分申请者的获奖概率都很大，很可能因为半分的差距造成奖项的巨大差异，因此希望能大家在公示期内及时反馈情况，否则<b style="color:red">公示期结束后不再接受对申请材料的质疑～</b><br><br>
            谢谢大家的反馈！<br><br>
            
          计算机系2016年秋季奖学金申请的截止时间为<b style="color:red">9月30日24：00</b><br><br>
          奖学金申请中的时间填写须至少<b style="color:red">精确到月、按格式填写并且在2015年9月至2016年8月范围之内。最后一年申请的可以在2015年9月至2017年8月范围之内</b>，否则不予参评。填写的时间项中有不符合要求的在申请列表里会被标红。<br><br>
          “会议奖励”项目新增项“奖励名称”，请填过“会议奖励”的同学重新进行填写<br><br>
          “期刊”和“专利”需要填写是否本人一作或导师一作本人二作，请各位同学重新进行填写，默认未重新填写的为“是”--></p>
        </div>
        <div class="span3" style="margin-left:10px;margin-top:10px">
          {% include 'module_user.html' %}
        </div>
      </div>
  </div>


 	</body>
  
</html>