<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript" src="/static/scholarshiplist.js?v1.6"></script>
  <script type="text/javascript">
  function init(){
    showscholarshiplist()
    document.getElementById("viewapply").href="/scholarshipview/"+getCookie('usernamethu')
    document.getElementById("apply").href="/scholarshipapply/"+getCookie('usernamethu')
  }
  </script>
  <body onload="checklogin();init();" style="padding-top: 40px">

{% include 'module_scholarshipnav.html' %}
  

 <div id="wrapper">

  
      {% include 'module_scholarshipsidenav.html' %}
        
      <div id="page-content-wrapper">
        

        <div >
          {% include 'module_scholarshiplist.html' %}
        </div>
      </div>
  </div>


 	</body>
  
</html>