<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript" src="/static/admin.js?1.91"></script>
  <link rel="stylesheet" href="/static/scholarship.css?v1.1" type="text/css">
  <script type="text/javascript">
  function init(){
    getadminscholarshipinfo({{username}})
    document.getElementById("viewapply").href="/scholarshipview/"+getCookie('usernamethu')
    document.getElementById("apply").href="/scholarshipapply/"+getCookie('usernamethu')
    getscores({{username}})
  }

   
  </script>

  <body onload="init();" style="padding-top: 40px">

{% include 'module_scholarshipnav.html' %}
  

 <div id="wrapper">

  
      {% include 'module_scholarshipsidenav.html' %}
        
      <div id="page-content-wrapper">
        
        <div >
          {% include 'module_scholarshipadminview.html' %}
          
        </div>

      </div>
  </div>


 	</body>
  
</html>